body {
    background-color: #0a0f1f;
    color: white;
  }
  
  .card {
    background-color: #1c2435;
    border-radius: 10px;
    color: #ffffff;
  }
  
  input::placeholder {
    color: #b5c2d6;
  }
  